.badge {
    border-radius: 2em;
    padding: 0.25em 1em;
    opacity: 0.75;
    font-size: 0.9em;
    background-color: alpha(@theme_fg_color, 0.2);
    opacity: 0.75;
}

.badge-lite {
    margin: 0.25em 0;
    padding: 0 0.5em;
    border-radius: 2em;
    border: 1px solid alpha(@theme_fg_color, 0.5);
    font-size: 0.75em;
    opacity: 0.75;
}

list row {
    padding-bottom: 0;
}

list row separator {
    margin-top: 2px;
}

headerbar button.canteens-menu {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 2px;
    margin-bottom: 2px;
    color: inherit;
}

menuitem {
    padding-top: 8px;
    padding-bottom: 8px;
}
