[Desktop Entry]
Name=OvGU Mensa
Exec=gnome-ovgu-canteen
Icon=de.fin_ger.OvGUCanteen
Type=Application
Terminal=false
Comment=View the OvGU Mensa Menu in a Gnome App
Comment[de]=Zeige das OvGU Mensa Menü in einer Gnome App
Categories=GTK;GNOME;Utility;
